# R/atlantis_functions.R
export(atlantis_read_areas)
export(atlantis_functional_groups)
export(atlantis_fisheries)
export(atlantis_run_options)
export(atlantis_tracer)
export(atlantis_fg_count)
export(atlantis_fisheries_catch)
